<!DOCTYPE html>
<html lang="en">
<head>
<title>Delete confirmation</title>
</head>
<body>
<p>Are you sure?</p>
<a href="$base_path/pages/$id/delete">Yes</a> | <a href="$base_path/pages/$id/view">No</a>
</body>
</html>