<!DOCTYPE html>
<html lang="en">
<head>
<title>$title</title>
</head>
<body>
<xmp theme="simplex" style="display:none;">

#if ($auth)<a class="btn btn-secondary" href="$base_path/pages/list/">all</a> #end#foreach ($tag in $tags)<a class="btn btn-secondary" href="$base_path/pages/list/$tag">$tag</a> #end

$content

</xmp>
</body>
<script src="https://cdn.jsdelivr.net/gh/arturadib/strapdown@gh-pages/v/0.2/strapdown.min.js"></script>
</html>