<!DOCTYPE html>
<html lang="en">
#parse ( "${current_path}/head_tag.vm" )
<body>
    #set ( $d = "$")
    #foreach ($selected_tag in $selected_tags)
    <a class="tag-btn-a"
        href="/pages/list/${template_util.removeTagFromList($selected_tags_str, $selected_tag)}">$selected_tag</a>
    #end
    #foreach ($tag in $tags)
    <a class="tag-btn" href="/pages/list/${selected_tags_str}#if (!$selected_tags.isEmpty())$d#end${tag}">$tag</a>
    #end
    <p>
        <a class="btn" href="/">Home</a>
        #if ($auth)<a class="btn" href="/pages/new/$selected_tags_str">New Page</a>
        <a class="btn" href="/logout">Logout</a>#end
    </p>
    #foreach ($item in $items)
    <p class="item"><a class="item" href="/pages/$item.id()/view">$item.title()</a>
        #foreach ($tag in $item.tags())
        <span class="tag">$tag</span>
        #end
        #if(!$item.pblic())
        <span class="private">private</span>
        #end
    </p>
    #end
    #if (!$filtered && !$auth)
    <p>Select a category from the top.</p>
    #end
</body>
</html>
