<!DOCTYPE html>
<html lang="en">
#parse ( "${current_path}/head_tag.vm" )
<body>
#set ( $d = "$")
#foreach ($selected_tag in $selected_tags)
<a class="tag-a" href="$base_path/pages/list/${template_util.removeTagFromList($selected_tags_str, $selected_tag)}">$selected_tag</a>
#end
#foreach ($tag in $tags)
<a class="tag" href="$base_path/pages/list/${selected_tags_str}#if (!$selected_tags.isEmpty())$d#end${tag}">$tag</a>
#end
<ul>
#foreach ($item in $items)
<li><a href="$base_path/pages/$item.id()/view">$item.title()</a>  
#foreach ($tag in $item.tags())<i>$tag</i> #end#if(!$item.pblic())private#end
</li>
#end
</ul>
#if (!$filtered)
<p>Select a category from the top.</p>
#end
<p>
<a class="btn" href="$base_path/">Main Page</a>#if ($auth)<a class="btn" href="$base_path/pages/new/$selected_tags_str">New Page</a><a class="btn" href="$base_path/logout">Logout</a>#end
</p>
</body>
</html>
