<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
</head>
<body>
<form autocomplete="off" action="login/validate" method="post">
<p>Password</p>
<p><input type="password" name="password" size="20" required></p>
<input type="submit" value="Send">
</form>
</body>
</html>
