<!DOCTYPE html>
<html lang="en">
<head>
<title>$title</title>
</head>
<body>
<xmp theme="simplex" style="display:none;">

**Tags** $tags

$content

#if ($auth)
**Visibility** #if ($public)Public#{else}Private#end
#end

<a href="#" onclick="history.back()">Back</a>#if ($auth)<a href="/pages/$id/edit"> | Edit</a> | <a href="/pages/$id/delete/confirmation">Delete</a>#end


</xmp>
</body>
<script src="https://cdn.jsdelivr.net/gh/arturadib/strapdown@gh-pages/v/0.2/strapdown.min.js"></script>
</html>
